<app-table class="table-info">
    <thead class="custom-header">
        <tr>
            <th colspan="10" class="text-center fw-bold py-3">
                Listado de Clientes
            </th>
        </tr>
        <tr>
            <th>{{'Cedula'}}</th>
            <th>{{'Nombre'}}</th>
            <th>{{'Apellidos'}}</th>
            <th>{{'Fecha de Nacimiento'}}</th>
            <th>{{'Sucursal'}}</th>
            <th>{{'Acciones'}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>algo</td>
            <td>algo</td>
            <td>algo</td>
            <td>algo</td>
            <td>algo</td>
            <td>
                <button class="btn btn-sm btn-warning">
                    <i class="fa-solid fa-pen"></i>
                </button>
                <button class="btn btn-sm btn-danger">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</app-table>
