<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" class="bg-primary text-white border-end">
    <div class="sidebar-heading text-center py-3">
      <h5 class="mb-0">Bases de Datos</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-primary">
        <a routerLink="/" routerLinkActive="active" class="nav-link text-white">
          <i class="fa-solid fa-building"></i> Crud Sucursales
        </a>
      </li>
      <li class="list-group-item bg-primary">
        <a routerLink="/app-crud-client" routerLinkActive="active" class="nav-link text-white">
          <i class="fa-solid fa-user"></i> Crud Clientes
        </a>
      </li>
      <li class="list-group-item bg-primary">
        <a routerLink="/" routerLinkActive="active" class="nav-link text-white">
          <i class="fas fa-briefcase me-2"></i> Crud Empleados
        </a>
      </li>
      <li class="list-group-item bg-primary">
        <a routerLink="/" routerLinkActive="active" class="nav-link text-white">
          <i class="fa-solid fa-credit-card "></i> Crud Cuentas
        </a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div id="page-content-wrapper">
      <button class="btn bg-primary" id="menu-toggle">
        <i class="fas fa-bars fa-solid"></i>
      </button>
    <div class="container-fluid mt-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
