#wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;

    #sidebar-wrapper {
        width: 250px;
        transition: margin 0.3s ease-in-out;
    }

    #page-content-wrapper {
        flex: 1;
        overflow-x: hidden;
        transition: margin-left 0.3s ease-in-out;
    }

    &.toggled #sidebar-wrapper {
        margin-left: -250px;
    }

    &.toggled #page-content-wrapper {
        margin-left: 0;
    }

    .list-group-item {
        transition: background-color 0.3s;

        &:hover {
            background-color: transparent;
        }

        a {
            text-decoration: none;
        }
    }
}

.bg-primary {
    background-color: transparent !important; 
}

#menu-toggle .fas.fa-bars {
    color: red !important; 
}

.navbar .fa-solid:hover {
    color: red !important; /* Aplica color rojo al pasar el ratón sobre los íconos dentro de los botones de la barra */
}
