
<!-- Start of Navbar Component -->
<nav class="navbar navbar-dark fixed-top col-sm"> 
  <div class="container-fluid col-sm">

    <!-- Include the custom app-menu component for navigation -->
    <app-menu></app-menu>

    <!-- Navbar Brand -->
    <a class="navbar-brand me-auto ms-2" href="#">
       <!-- Translate the text using the 'navtitle' key -->
      {{'Bases de datos'}}
    </a>
    <!-- Include the custom app-switchlang component for language switching -->
    <!-- <app-switchlang></app-switchlang> -->
  </div>
</nav>


<!-- End of Navbar Component -->