<footer class="footer text-center fixed-bottom">
    <!-- Start of Footer Component -->
    <div class="container-fluid">
        <div class="row">
            <!--Start of the footer's options-->
            <!-- <div class="col-md-6 text-md-start mt-2">
                <ul class="list-unstyled"> -->
                    <!-- Translate and display the first option -->
                    <!-- <li class="d-inline me-3"><a href="#" class="footer-link">{{'footer.option1' | translate }}</a></li> -->

                    <!-- Translate and display the second option -->
                    <!-- <li class="d-inline me-3"><a href="#" class="footer-link">{{'footer.option2' | translate }}</a></li>
                     -->
                    <!-- Translate and display the third option -->
                    <!-- <li class="d-inline me-3"><a href="#" class="footer-link">{{'footer.option3' | translate }}</a></li> -->
                <!-- </ul>
            </div> -->
            <!--End of the menu's options-->
            <!-- Right-aligned copyright -->
            <div class="col-sm">
                <p class="footer-copyright">&copy; {{'footer.copyright' | translate }}</p>
            </div>
        </div>
    </div>
     <!-- End of Footer Component -->
</footer>
